:root {
  --fuente-principal: 'Quicksand', sans-serif;
  --fuente-secundaria: 'Permanent Marker', cursive;
  --color-primario: black;
  --color-secundario: #684a83;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--fuente-principal);
}

/* Textos */
h1 {
  margin: auto;
  width: fit-content;
  font-family: var(--fuente-secundaria);
  font-size: 3rem;
}
h1 ~ p:first-of-type {
  margin: auto;
  width: fit-content;
}
h2 {
  font-size: 2rem;
  font-family: var(--fuente-secundaria);
  font-weight: lighter;
}
h2 ~ p:first-of-type {
  font-size: 1rem;
}
.login > p {
  margin: auto;
  margin-right: 0;
  width: 50%;
}
.texto-main {
  margin-top: 3rem;
  padding: 2rem;
}
.texto-main p {
  margin: 2rem auto;
}

/* Fondos */
.login {
  background-image: url("../img/iniciarSesion.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8rem;
  padding: 1rem;
  text-align: end;
}

/* Barra de navegación */
nav {
  display: flex;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  background-color: #0000003b;
  position: fixed;
  top: 0;
  width: 100%;
  font-family:  var(--fuente-principal);
  font-weight: bold;
  z-index: 100;
}

/* Contenedores */
header {
  margin-top: 8rem;
  text-align: center;
}
footer {
  background-color: var(--color-primario);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.main {
  overflow: hidden;
}
.contenedor-main {
  display: flex;
  align-items: center;
  background: var(--color-primario);
  color: white;
  flex: 0 0 100%;
  max-width: 100%;
  margin: 6rem -.1rem;
  margin-bottom: 5rem;
  transition: all 1s ease;
}
.contenedor-slide {
  height: 35rem;
  position: relative;
}
.animacion-contenedor {
  display: flex;
  position: absolute;
  height: 35rem;
  transition: all 1s ease;
}
.ocultar {
  opacity: 0;
  order: 1;
}
.contenedor-main > div {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.main .contenedor-main:last-child > div {
  text-align: end;
}
.landing {
  background-color: var(--color-primario);
  color: white;
  margin-top: 8rem;
  padding: 1rem;
  text-align: center;
}
.basic-form {
  display: flex;
  margin: 1.5rem auto;
}
.contenedor-2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contenedor-2.beneficio > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.contenedor-2.social > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contenedor-2.social > div p {
  padding: .7rem;
}
.contenedor-2 > div i {
  font-size: 2.5rem;
  padding: .5rem;
}
.contenedor-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor-3 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  line-height: 1.8rem;
}
.musica-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}
.musica > div {
  background-color: var(--color-secundario);
  margin: .5rem;
  margin-top: 2rem;
  position: relative;
}
.musica > div h3 {
  position: absolute;
  top: -1.5rem;
}
audio {
  width: 100%;
}

/* Listas */
[class^="lista-"] li, [class^="lista-"] a {
  user-select: none;
  cursor: pointer;
  color: white;
}
.lista-footer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.lista-footer li {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 1rem;
  border-style: solid;
  border-width: 0 .1rem;
  text-align: center;
}
.lista-footer li:last-child {
  flex: 0 0 100%;
  max-width: 100%;
  border-style: none;
}
.lista-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: -13rem;
  top: 7rem;
  background-color: #0000003b;
  transition: right .5s ease;
  height: 12rem;
}
.lista-nav li {
  color: white;
  margin: auto 2rem;
}
.lista-nav li:hover {
  color: darkslateblue;
}

/* Formularios y inputs */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.basic-form form {
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.login form {
  width: fit-content;
  margin: 4rem auto;
  margin-right: 0;
}
.basic-form h2 {
  font-size: 2rem;
  color: white;
}
.cancion {
  background-color: var(--color-primario);
  height: 90vh;
  width: 20rem;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.432);
  position: fixed;
  top: 7rem;
  z-index: 30;
  right: -30rem;
  transition: right .5s ease;
  margin: 0;
}
.input {
  position: relative;
  margin-bottom: 2rem;
  width: 18rem;
}
input[type="file"] {
  display: none;
}
input[type="file"] ~ label {
  background-color: var(--color-secundario);
  border-radius: 2rem;
  padding: .5rem;
}
input[type="text"] {
  border: none;
  outline: none;
  padding: .5rem;
}
input[type="text"] ~ label {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom .3s ease;
  z-index: -1;
}
input[type="text"]:focus ~ label, input[type="text"]:valid ~ label  {
  z-index: 0;
  bottom: 2rem;
}

/* Checkboxes */
#btnNav, #btnAgregar {
  display: none;
}
#btnNav:checked ~ .lista-nav, #btnAgregar:checked ~ .cancion {
  right: 0;
}
#btnNav ~ label {
  font-size: 2.5rem;
  padding: .5rem;
}

/* Botones */
[class^="btn-"] {
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
  border: none;
  padding: .7rem;
  border-radius: 0.7rem;
}
.btn-primario {
  background-color: var(--color-primario);
  color: white;
}
.btn-secundario {
  background-color: white;
  color: var(--color-primario);
}
.btn-agregar {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 50;
  font-size: 3rem;
  color: white;
  background: var(--color-secundario);
  border-radius: 2rem;
  padding-top: 0;
  padding-bottom: 0;
}

/* Imágenes */
.logo {
  padding: 1.5rem;
}
.logo-secundario {
  width: 10rem;
  padding: 2rem;
}
.img-landing {
  display: none;
}
.img-social {
  flex: 0 0 16%;
}
.img-main {
  display: none;
}
.img-artista {
  width: 7rem;
}

/* Clases Rápidas */
.wh-100 {
  width: 100%;
  height: 100%;
}

/* Responsive */
@media screen and (min-width: 576px) {
  .contenedor-3 > div {
    font-size: .9rem;
  }
  .cancion {
  width: 30rem;
  }
}
@media screen and (min-width: 768px) {
  /* Contenedores */
  nav {
    justify-content: space-around;
  }
  .contenedor-2 {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .animacion-contenedor.mover {
    transform: translateX(-48rem);
  }
  .ocultar {
    opacity: 1;
    order: 0;
  }
  .contenedor-3 > div {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 40%;
  }
  /* .contenedor-3 > div {
    flex: 0 0 25%;
  } */
  .musica-info {
    flex-direction: row;
  }

  /* Listas */
  .lista-nav {
    flex-direction: row;
    position: static;
    background-color: transparent;
    height: auto;
  }
  #btnNav ~ label {
    display: none;
  }

  /* Imágenes */
  .img-landing {
    flex: 0 0 48%;
    display: block;
  }
  .img-main {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    height: 100%;
    display: block;
  }
}

@media screen and (min-width: 992px) {
  /* Textos */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h2 ~ p:first-of-type {
    font-size: 2rem;
  }

  /* Fondos */
  .login {
    margin: auto 10rem;
    margin-top: 8rem;
  }

  /* Contenedores */
  .contenedor-main > div {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .animacion-contenedor.mover {
    transform: translateX(-61rem);
  }
  .landing {
    margin: auto 10rem;
  }
  .contenedor-2 {
    flex-direction: row;
  }
  .contenedor-2.beneficio > div {
    flex: 0 0 21%;
  }

  /* Formularios y inputs */
  .input {
    width: 20rem;
  }
  .login form {
    margin: 7rem auto;
    margin-right: 0;
  }

  /* Imágenes */
  .logo-secundario {
    padding: 1.5rem;
  }
  .img-landing {
    margin-left: -5rem;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    flex-direction: row;
  }
  .lista-footer {
    width: 55rem;
  }
  .animacion-contenedor.mover {
    transform: translateX(-74rem);
  }
}